extends ../layout

block content
	ol.breadcrumb
		li
			a(href="/packets/"+type)= type
			span.divider /
		li
			a(href="/packets/"+type+"/"+year)= year
			span.divider /
		li
			a(href="/packets/"+type+"/"+year+"/"+tournament)= tournament
			span.divider /
		li
			a(href="/packets/"+type+"/"+year+"/"+tournament+"/"+round)= round
	
		if session.email
			li.pull-right
				a(href="/new?type=#{type}&year=#{year}&tournament=#{tournament}") Add New Packet
		
		
	p
		each question, num in entries
			ul.toastcrumb
				li
					//- span.label= question.num
					li= question.num
						span.divider /	
					| &nbsp;
				li= question.category
				li.pull-right= question.answer
			div.well= question.question
