extends ../layout

block content
	ol.breadcrumb
		li
			a(href="/packets/"+type)= type
			span.divider /
		li
			a(href="/packets/"+type+"/"+year)= year
		
		if session.email
			li.pull-right
				a(href="/new?type=#{type}&year=#{year}") Add New Packet
		
	p
		each group in groups.sort(function(a, b){return a.difficulty > b.difficulty ? 1 : -1})
			h3 #{group.difficulty}
			ul
				each tournament in group.tournaments.sort()
					li
						a(href="/packets/#{type}/#{year}/#{encodeURIComponent(tournament)}")= tournament
			//- p
			//- 	each pair in group
			//- 		- var tournament = pair[0]
			//- 		ul.breadcrumb
			//- 			li= year
			//- 				| &nbsp;
			//- 			li= tournament
			//- 				span.divider /	
