doctype 5
html(lang="en")
	head
		title protobowl packets editor
		link(href="/bootstrap/css/bootstrap.css",rel="stylesheet")
		link(href="/bootstrap/breadcrumb.css",rel="stylesheet")
		style
			body {
				padding-top: 60px;
			}
			.sidebar-nav {
				padding: 9px 0;
			}


		!= LRScript

	body

		script
			email = !{JSON.stringify(session.email)}

		div.navbar.navbar-fixed-top.navbar-inverse
			div.navbar-inner
				div.container-fluid
					a(href="/").brand protobowl <b>packets</b> editor
					ul.nav
						li(class="#{typeof main_page != 'undefined' && 'active'}")
							a(href="/") packets
						li(class="#{typeof qtypes != 'undefined' && 'active'}")
							a(href="/questions") questions
						li(class="#{typeof review_page != 'undefined' && 'active'}")
							a(href="/review") reports
						
						//- li
						//- 	a(href="/new") new
						li
							a(href="/mods") mods
						li
							a(href="/logs") logs
					
					ul.nav.pull-right
						
						if session.email
							li.navbar-text #{session.email}
							li
								a#logout(href="/") Log Out
						li
							a#login(href="/", style="display:none") Log In
							

		block main
			div.container
				div.row
					div.span3
						block sidebar
							div.well.sidebar-nav
								ul.nav.nav-list
										each t in Object.keys(types).sort(function(b, a){return types[a].length - types[b].length})
											- var years = types[t]
											li.nav-header=t
												a.pull-right(href="/packets/#{t}") &rarr;
											each y in years.sort().reverse()
												li(class="#{typeof year != "undefined" && year == y && typeof type != "undefined" && type == t? 'active' : ''}")
													a(href="/packets/#{t}/#{y}")= y
							form(action="/reload-sidebar",method="post")
								button(type="submit").btn Reload Sidebar Cache

					div.span9
						block content


		script(src="https://login.persona.org/include.js")
		script(src="/bootstrap/persona.js")
